<div class="MessageBox" style="margin: 8px 0;background-color:var(--main-fg);border-radius:4px;border:2px solid var(--main);padding:16px;display: flex;flex-direction: column;gap:8px;">
  <h3 style="margin:0;"><%- locals.title ?? "" %></h3>
  <p><%- locals.content ?? "" %></p>
  <small><%- locals.notice ?? "" %></small>
</div>