<%- include("blocks/MessageBox.ejs", {
  title: "Hello, world!",
  content: "Sex is real and it's a danger to society",
  notice: "This is a small notice."
}) %>
<h1>Header 1</h1>
<p>This is a paragraph. Hello!</p>
<h2>Header 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti cumque aut, natus labore id voluptate quaerat hic enim tempore est sed sunt, sint praesentium culpa illum, ea autem modi! Expedita!</p>
<h3>Header 3</h3>
<small>Psssst! I'm small!</small>
<%- include("blocks/LunchBox.ejs", {
  title: "Hello, world!",
  content: "Sex is real and it's a danger to society",
  notice: "This is a small notice."
}) %>